<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title School Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header>
        <img #logo src="~/Content/images/logo.png" />
        <span class="spacer" />
        <ul>
            <li>HOME</li>
            <li>ABOUT</li>
            <li>BLOG</li>
            <li>CONTACT</li>
        </ul>
    </header>
    <main>
        <div>
            <img src="~/Content/images/bg-home.jpg" alt="Yoghurt iceream, sprinkled over with a variety f ofruits, finished with a touch of mint." />
            <a href="@Url.Action()">FREEZE DELIGHT</a>
        </div>
        <div>
            <h1>NEW PRODUCT</h1>
            <h2>The Twist Of Healthy Yoghurt</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur
                ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien.
                Integer vulputate sem a nibh rutrum consequat. Nullam eget nisl. Fusce
            </p>
        </div>
    </main>
    <footer></footer>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
