@using SP_ASPNET_1.BusinessLogic
@model SP_ASPNET_1.Models.BlogPost

@*@{
    ViewBag.Title = "SinglePost";
}*@
@{
    Layout = "~/Views/Shared/Blog/_BlogLayout.cshtml";
}

<div class="SinglePost">
    <img src="@Model.ImageUrl" alt="@Path.GetFileNameWithoutExtension(Model.ImageUrl)" />
    <h2>new chills for summer</h2>
    <p>By @Model.Author on @Model.DateTime.ToString(Constants.DISPLAY_DATETIME_FORMAT)</p>
    <p>
        @Model.Content
    </p>
    <p>
        @Html.ActionLink("Edit", "EditBlogPost", new { id = Model.BlogPostID }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Delete", "EditBlogPost", new { id = Model.BlogPostID }) |
    </p>
</div>

